.ben.sticky-menu 
    ul(role='list')
        li(role="listitem")
            a(href='#home' title="home") Home
        li(role="listitem")
            a(href='#about' title="about") About
        li(role="listitem")
            a(href='#service' title="service") Service
        li(role="listitem")
            a(href='#contact' title="contact") Contact
    