.ben.experience 
    //- h5 Education & Work
    //- h2 My Academic and <br>Professional Journey
    h2 Professional Experience 
    .experience__container
        ul.experience__details
            li
                h3 Team Lead
                h6 Orject Foundation
                span Apr 2024 - Present 
                p Specializing in providing English language instruction and developing interactive game-based learning activities, I have honed my skills in promoting active particpation and knowledge retention among students aged 6 to 17.
            li
                h3 Content Creator 
                h6 Orject Foundation
                span Dec 2022 - Present 
                p Content Creator | Visual Vernacular Specialist
            li
                h3 Online Education Facilitator 
                h6 Orject Foundation
                span Dec 2022 - Apr 2024 
                p Teacher Assistant | Online Education Facilitator
            li
                h3 Software Engineer 
                h6 Societe Generale Global Solution Centre
                span Spe 2021 - Jul 2022 
                p Leading the design team for enterprise clients, creating design systems and improving product usability.
            li
                h3 Trainee 
                h6 WinVinaya Foundation
                span Jun 2021 - Aug 2021 
                p Leading the design team for enterprise clients, creating design systems and improving product usability.
            li
                h3 Sign Language translator 
                h6 Digital Arts Academy for the Deaf LLP
                span 2023 - Present 
                p Leading the design team for enterprise clients, creating design systems and improving product usability.
            li
                h3 Senior UI Designer 
                h6 Orject Foundation
                span 2023 - Present 
                p Sign Language Translator | Accessibility Specialist
        figure 
            img(src='../images/benin.jpg' alt='')