.le.banner{
    .video{
        position: relative;
        // top: 0;
        // left: 0;
        min-width: 100%;
        min-height: 100vh;
        overflow: hidden;
        video{
            min-width: 100%;
            min-height: 50vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -30%);
            background-position: center;
            transition: all 0.5s;
            // opacity: 0.3;
            @media #{$md}{
                transform: translate(-50%, -20%);
            }
        }
    }  
    .video__text{
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;    
        h1{
            color: #ffffff;
            font-size: rem(40);
            text-transform: uppercase;
            text-align: center;
            max-width: rem(900);
            margin: 0 auto;
            font-family: "Pacifico", cursive;
            @media #{$md}{
                font-size: rem(120);
            }
        }
    }
}