.le.banner{
    .video{
        position: relative;
        // top: 0;
        // left: 0;
        min-width: 100%;
        min-height: 100vh;
        overflow: hidden;
        video{
            min-width: 100%;
            min-height: 50vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -20%);
            background-position: center;
            transition: all 0.5s;
            opacity: 0.2;
        }
    }  
    .video__text{
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        h1{
            color: #fff;
            font-size: rem(120);
            text-transform: uppercase;
            text-align: center;
            max-width: rem(900);
            margin: 0 auto;
        }
    }
}