extend ../pagelayout/home
block variables
	-var active = 'Home'
	-var bodyClass = 'theme--default'
block story
	//- include ../components/sticky-menu/sticky-menu.pug
	//- .section.section--hero#home
	//- 	include ../components/banner/banner.pug
	.section.section--hero#home 
		include ../components/hero/hero.pug
	.section.section--about#about
		.container 
			include ../components/aboutme/aboutme.pug
	.section.section--experience#experience 
			.container 
				include ../components/experience/experience.pug

	