.ben.aboutme
    h5 About me
    h2 Who Am I?
    figure 
        img(src='../images/benin.jpg' alt='')
    .aboutme__des
        p Hi I am Benin George Varghese. I am an IT professional with a passion for solving complex problems through clean and efficient code. I currently work full-time in the tech industry where I focus on developing reliable, user-centric solutions.
        p I'm always open to new challenges and collaborations that push boundaries and create meaningful digital experiences.
    a(href="" title="Download CV").l-btn Download CV