.para 
    .content-works(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200")   
        h2 How Skincare Works
            //- span by Andie Smith
        p(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")   You may already have a handle on what skincare products work best for your skin, and understand the basics of cleansing, exfoliating, toning, and moisturizing. However, the science behind skincare and how it works on a molecular level are less common knowledge. 
            br
            | Fluff words and industry jargon tend to make up the marketing material of skincare brands, advertising their products that “drink up” moisture, “pore-eliminating” serums, or even “recycle” skin cells. We'll break down exactly how skincare works so that you can better understand how products are going to benefit your skin. 

