//- .ben.header
//-     nav
//-         .logo
//-             img(src='' alt='')
//-         .burger
//-             span
//-             span
//-             span
//-         ul
//-             //- (data-aos="fade-up" data-aos-duration="1000")
//-             li.test1
//-                 a(href='') Home
//-                 i
//-                     svg(width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg")
//-                         path(d="M41.6668 79.1667V58.3333H58.3335V79.1667C58.3335 81.4583 60.2085 83.3333 62.5002 83.3333H75.0002C77.2918 83.3333 79.1668 81.4583 79.1668 79.1667V50H86.2502C88.1668 50 89.0835 47.625 87.6252 46.375L52.7918 15C51.2085 13.5833 48.7918 13.5833 47.2085 15L12.3752 46.375C10.9585 47.625 11.8335 50 13.7502 50H20.8335V79.1667C20.8335 81.4583 22.7085 83.3333 25.0002 83.3333H37.5002C39.7918 83.3333 41.6668 81.4583 41.6668 79.1667Z" fill="black")
//-             li.test2
//-                 a(href='') Project
//-                 i
//-                     svg(width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg")
//-                         path(d="M85.9375 10.9375H14.0625C12.334 10.9375 10.9375 12.334 10.9375 14.0625V85.9375C10.9375 87.666 12.334 89.0625 14.0625 89.0625H85.9375C87.666 89.0625 89.0625 87.666 89.0625 85.9375V14.0625C89.0625 12.334 87.666 10.9375 85.9375 10.9375ZM35.9375 72.6562C35.9375 73.0859 35.5859 73.4375 35.1562 73.4375H27.3438C26.9141 73.4375 26.5625 73.0859 26.5625 72.6562V27.3438C26.5625 26.9141 26.9141 26.5625 27.3438 26.5625H35.1562C35.5859 26.5625 35.9375 26.9141 35.9375 27.3438V72.6562ZM54.6875 45.3125C54.6875 45.7422 54.3359 46.0938 53.9062 46.0938H46.0938C45.6641 46.0938 45.3125 45.7422 45.3125 45.3125V27.3438C45.3125 26.9141 45.6641 26.5625 46.0938 26.5625H53.9062C54.3359 26.5625 54.6875 26.9141 54.6875 27.3438V45.3125ZM73.4375 52.3438C73.4375 52.7734 73.0859 53.125 72.6562 53.125H64.8438C64.4141 53.125 64.0625 52.7734 64.0625 52.3438V27.3438C64.0625 26.9141 64.4141 26.5625 64.8438 26.5625H72.6562C73.0859 26.5625 73.4375 26.9141 73.4375 27.3438V52.3438Z" fill="black")
//-             li.test3
//-                 a(href='') Experience
//-                 i
//-                     svg(width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg")
//-                         path(d="M93.75 93.75H68.75V12.5H93.75V93.75ZM75 87.5H87.5V18.75H75V87.5ZM62.5 93.75H37.5V37.5H62.5V93.75ZM43.75 87.5H56.25V43.75H43.75V87.5ZM31.25 93.75H6.25V56.25H31.25V93.75ZM12.5 87.5H25V62.5H12.5V87.5Z" fill="black")
//-             li.test4
//-                 a(href='') About
//-                 i
//-                     svg(width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg")
//-                         path(d="M54.1663 37.4997H45.833V29.1663H54.1663M54.1663 70.833H45.833V45.833H54.1663M49.9997 8.33301C44.5279 8.33301 39.1098 9.41075 34.0545 11.5047C28.9993 13.5986 24.406 16.6678 20.5369 20.5369C12.7229 28.3509 8.33301 38.949 8.33301 49.9997C8.33301 61.0504 12.7229 71.6484 20.5369 79.4625C24.406 83.3316 28.9993 86.4007 34.0545 88.4947C39.1098 90.5886 44.5279 91.6663 49.9997 91.6663C61.0504 91.6663 71.6484 87.2765 79.4625 79.4625C87.2765 71.6484 91.6663 61.0504 91.6663 49.9997C91.6663 44.5279 90.5886 39.1098 88.4947 34.0545C86.4007 28.9993 83.3316 24.406 79.4625 20.5369C75.5934 16.6678 71.0001 13.5986 65.9448 11.5047C60.8896 9.41075 55.4714 8.33301 49.9997 8.33301Z" fill="black")
//-             li.test5
//-                 a(href='') Contact
//-                 i
//-                     svg(width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg")
//-                         path(d="M25 70.8333C25 62.5 41.6667 57.9167 50 57.9167C58.3333 57.9167 75 62.5 75 70.8333V75H25M62.5 37.5C62.5 40.8152 61.183 43.9946 58.8388 46.3388C56.4946 48.683 53.3152 50 50 50C46.6848 50 43.5054 48.683 41.1612 46.3388C38.817 43.9946 37.5 40.8152 37.5 37.5C37.5 34.1848 38.817 31.0054 41.1612 28.6612C43.5054 26.317 46.6848 25 50 25C53.3152 25 56.4946 26.317 58.8388 28.6612C61.183 31.0054 62.5 34.1848 62.5 37.5ZM12.5 20.8333V79.1667C12.5 81.3768 13.378 83.4964 14.9408 85.0592C16.5036 86.622 18.6232 87.5 20.8333 87.5H79.1667C81.3768 87.5 83.4964 86.622 85.0592 85.0592C86.622 83.4964 87.5 81.3768 87.5 79.1667V20.8333C87.5 18.6232 86.622 16.5036 85.0592 14.9408C83.4964 13.378 81.3768 12.5 79.1667 12.5H20.8333C18.6232 12.5 16.5036 13.378 14.9408 14.9408C13.378 16.5036 12.5 18.6232 12.5 20.8333Z" fill="black")
