.ben.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(46);
    article{
       p{
        max-width: rem(600);
       }
       button{
        font-size: rem(20);
        color: $purple;
        font-weight: 600;
        background-color: transparent;
        border: none;
        margin-bottom: rem(24);
       }
    }
    figure{
        img{
            width: rem(350);
            height: auto;
        }
    }
    .hero__buttons{
        margin-top: rem(32);
    }
    .l-btn{
        margin-right: rem(18);
    }
}