.ben.hero 
    article 
        button Hello There! 
        h1 I am Benin George Varghese,<br> Team Leader 
        p I am an experienced Product Designer with 5 years in the field collaborating with various companies and startups.
        .hero__buttons 
            a(href="#" title="Hire me").l-btn Hire me
            a(href="#" title="Download CV").l-btn Download CV 
    figure 
        img(src='../images/benin.jpg' alt='') 
